@import "./../../../_style/config";

.burger-container {
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  .line {
    z-index: 1;
    width: 24px;
    height: 2px;
    background-color: $bg-footer;
    border-radius: 10px;
    margin: 5px 0;
    transition: 0.5s cubic-bezier(0.2, -0.55, 0.45, 1.53);

    &.short {
      width: 18px;
      margin: 5px 0;
      transition: 0.5s cubic-bezier(0.2, -0.55, 0.45, 1.53);
    }
  }

  &:hover .short {
    width: 24px;
  }
  &:hover {
    cursor: pointer;
  }
}

.burger-container.active {
  box-sizing: border-box;
  transition: 0.5s cubic-bezier(0.2, -0.55, 0.45, 1.53);
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 1px solid $bg-footer;
    padding: 5px;
    transform: translateX(-15px);
    width: 28px;
    height: 28px;
    top: -7px;
    transition: 0.5s cubic-bezier(0.2, -0.55, 0.45, 1.53);
  }
  .line.one {
    transform: rotate(45deg) translateY(10px);
    width: 26px;
  }

  .line.short {
    transform: translateX(50px);
    opacity: 0;
  }

  .line.two {
    transform: rotate(-45deg) translate(0px, -10px);
    width: 26px;
  }
}
